/* fontes */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* variáveis */
:root {
  --font1: "Poppins", sans-serif;
  --bg-black: #000;
  --bg-white: #fff;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font1);
}

/* html */
html {
  font-size: 16px;
}

/* body */
body {
  background: var(--bg-black);
  color: var(--bg-white);
  font-size: 1rem;
}

/* header */
header {
  background-color: var(--bg-black);
  background-color: rgb(31, 64, 64);
  width: 100%;
  padding: 1em;
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  margin-right: 1.5em;
  display: inline-block;
}
header nav ul li a {
  font-weight: 500;
  color: var(--bg-white);
  text-decoration: none;
}
header nav ul li a:hover {
  text-decoration: underline;
}
header a {
  text-decoration: none;
}
header a h1#logo {
  user-select: none;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  margin-left: 1.5em;
}

/* div geral ou container */
div.geral {
  margin: 0 auto;
  height: 100%;
}

/* section */
section {
  scroll-margin-top: 80px;
  height: 100dvh;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.6em;
}
/* home */
section#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: url(https://images.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)
    no-repeat top center / cover fixed;
}
/* dar um escurecimento na section home */
section#home::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
section#home * {
  z-index: 3;
}
/* section sobre */
section#sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(31, 64, 64);
}
section#sobre img {
  width: 35%;
}
section#sobre p {
  width: 90%;
  font-size: 1.1em;
  margin-top: 0.5em;
  text-align: center;
}
/* section projetos */
section#projetos {
  background: #000
    url(https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)
    no-repeat center center / cover fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#projetos h2 {
  text-align: center;
  padding: 20px;
}

#caixa-projetos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  max-width: 90%;
  margin: 0 auto;
}

.projeto {
  text-align: center;
  padding: 0.5em;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 10px #ffffff9c;
  background: gray;
  flex: 1 1 200px; /* Permite que os itens cresçam e encolham */
}
.projeto a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(31, 64, 64);
}
.projeto a:hover {
  text-decoration: underline;
}
/* section contato */
section#contato {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: gray;
}
section#contato form {
  display: flex;
  flex-direction: column;
  gap: 0.4em;

  width: 60%;
  padding: 0.8em;
  margin: 4% auto;

  background-color: lightgrey;
  border-radius: 10px;
  border: none;
}
section#contato form input,
textarea {
  border: none;
  border-radius: 10px;
  padding: 0.4em;
}
section#contato form input:focus,
textarea:focus {
  box-shadow: 1px 1px 10px #0057b382;
  outline: none;
}
section#contato label {
  color: #007bff99;
  font-weight: bold;
}
section#contato form button {
  border: none;
  border-radius: 10px;

  padding: 0.5em;

  background-color: #007bff; /* cor de fundo inicial */
  font-weight: bold;
  color: var(--bg-white); /* cor do texto */
  transition: all 0.3s ease; /* transição suave */
  cursor: pointer;
}
section#contato form button:hover {
  background-color: #0056b3; /* cor de fundo ao passar o mouse */
}
/* footer */
footer {
  width: 100%;
  padding: 0.5em;

  background: var(--bg-black);
  color: var(--bg-white);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer div.redes img {
  width: 2em;
}

/* responsividade */
@media (max-width: 700px) {
  /* tamanho da fonte */
  html {
    font-size: 12px;
  }
  /* deixa cabeçalho centralizado */
  header {
    flex-direction: column;
  }
  /* tira margin da logo */
  header a h1#logo {
    margin-left: 0;
  }
  /* aumenta tamanho da img na section sobre */
  section#sobre img {
    width: 80%;
  }
  /* aumenta largura do form */
  section#contato form {
    width: 90%;
    gap: 0.8em;
  }
}
@media (max-width: 480px) {
  .projeto {
    flex: 1 1 10%; /* 1 item por linha em telas muito pequenas */
  }
}
@media (max-width: 320px) {
  html {
    font-size: 10px;
  }
}
